img {
    width:180px;
    padding-top:10px;
    padding-left:10px;
    border-radius:15%;
}

.pictures{
    position: relative;
    top: 250px;
}

td:hover{
    cursor: pointer;
    transform: translateY(-0.1rem);
    transition: transform 150ms;
}